<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fii.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF7C9FFB222395FF005CE8A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF7CA00F22239600005CE8A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF7CA01A22239601005CE8A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
